<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color sticky-top">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/1">MyMovieList</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/1">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/1/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/1/search">Search Movies</a>
            </li>


        </ul>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->