<div class="container" style="color: whitesmoke;">
    <div class="row">
        <div class="col-12">
            <h1>
                About
            </h1>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem suscipit mollitia pariatur
                laudantium! Veniam animi tempore laborum omnis repellat quod delectus nam ea iusto, enim dignissimos
                culpa
                deleniti aut.
            </p>
        </div>
    </div>
</div>