<div class="jumbotron jumbotron-fluid card card-image"
    style="background-image: url(/Images/background.jpg); background-size: auto; background-repeat: no-repeat;">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to the MyMovieList App</strong>
            </h2>
            <a href="/1" class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Get Started</a>
        </div>
    </div>
</div>